<!DOCTYPE html>
<html lang="en" ng-app='galvanizeeats'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Galvanize Posts</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href="css/app.css" media="screen" title="no title" charset="utf-8">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller='RedditController as reddit'>
    <nav class='navbar navbar-inverse navbar-fixed-top'>
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" name="button" aria-controls="navbar" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class='navbar-brand'>Galvanize Posts</a>
        </div>
        <div id='navbar' class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
            <li>
              <a ng-click='toggleForm()'>Add Post</a>
            </li>
            <li>
              <a> Filter</a>
            </li>
            <li>
              <input type="text" ng-model="searchVal" placeholder="Search For Content" name="name" class="form-control">
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='jumbotron'>
      <form name='postForm' ng-submit='postForm.$valid && addPost()' ng-show='formDisplay' novalidate>
        <div class='form-group'>
          <label for="postTitle">Title</label>
          <input id='postTitle' class='form-control' type="text" name="title" ng-model='post.title' required>
        </div>
        <div class='form-group'>
          <label for="postAuthor">Author</label>
          <input id='postAuthor' class="form-control" type="text" name="author" value="" ng-model='post.author' required>
        </div>
        <div class="form-group">
          <label for="postDate">Date</label>
          <input class='form-control' id='postDate' type="date" name="date" value="" ng-model='post.date' required>
        </div>
        <div class="form-group">
          <label for="postImage">Image Link</label>
          <input id='postImage' class="form-control" type="url" name="image" ng-model='post.image' value="" required>
        </div>
        <div class="form-group">
          <label for="postDescription">Description</label>
          <textarea id="postDescription" class="form-control" name="description" rows="8" cols="40" ng-model='post.description' required></textarea>
        </div>
        <button type="submit" name="button" class='btn btn-default'>Post</button>
      </form>
    </div>
    <div class='container'>
      <div class="post well preview" ng-show="containsValue()">
        <h2>{{post.title}}</h2>
        <p>
          {{post.author}}
        </p>
        <p>
          {{post.date}}
        </p>
        <p>
          {{post.description}}
        </p>
      </div>
      <div class="allPosts">
        <div class="well" ng-repeat="post in posts | orderBy:'-popularity' | filter: searchVal">
          <div class="post">
            <img src="{{post.image}}" alt="" class='img-rounded'/>
            <div class="everythingelse">
              <h2>{{post.title}}</h2>
              <p>
                {{post.author}}
              </p>
              <p>
                {{post.date}}
              </p>
              <p>
                {{post.description}}
              </p>
              <div class="comments">
                <p ng-click=toggleComment($index)>
                  See Comments
                </p>
                <p ng-click=toggleAddComment($index)>
                  Add Comment
                </p>
              </div>
              <div class="popularity">
                <p ng-click="post.popularity = post.popularity - 1">
                  -
                </p>
                <p ng-click='post.popularity = post.popularity + 1'>
                  +
                </p>
                <p ng-class=colorClass(post.popularity)>
                  {{post.popularity}}
                </p>
              </div>
            </div>
          </div>
          <div class="comments" ng-show='post.showComment'>
            <div ng-repeat= 'comment in post.comments'>
              <h4>{{comment.title}}</h4>
              <p>
                {{comment.author}}
              </p>
              <p>
                {{comment.text}}
              </p>
            </div>
          </div>
          <div class="addComment" ng-show='post.showAddComment'>
            <form name='commentForm' ng-submit='commentForm.$valid && createComment($index)' novalidate>
              <div class='form-group'>
                <label for="commentTitle">Title</label>
                <input id='commentTitle' class='form-control' type="text" name="title" ng-model='comment.title' required>
              </div>
              <div class='form-group'>
                <label for="commentAuthor">Author</label>
                <input id='commentAuthor' class="form-control" type="text" name="author" value="" ng-model='comment.author' required>
              </div>
              <div class="form-group">
                <label for="commentText">Description</label>
                <textarea id="commentText" class="form-control" name="text" rows="8" cols="40" ng-model='comment.text' required></textarea>
              </div>
              <button type="submit" name="button" class='btn btn-default'>Post</button>
            </form>
          </div>
      </div>
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
