<div class='container'>
  <div class="post well preview" ng-show="containsValue()">
    <h2>{{post.title}}</h2>
    <p>
      {{post.author}}
    </p>
    <p>
      {{post.date | date: 'shortDate'}}
    </p>
    <p>
      {{post.description}}
    </p>
  </div>
  <div class="allPosts">
    <div class="well" ng-repeat="post in posts | orderBy: ordered | filter: searchVal">
      <div class="post">
        <img src="{{post.image}}" alt="" class='img-rounded'/>
        <div class="everythingelse">
          <h2>{{post.title}}</h2>
          <p>
            {{post.author}}
          </p>
          <p>
            {{post.date | date: 'shortDate'}}
          </p>
          <p>
            {{post.description}}
          </p>
          <div class="comments">
            <p ng-click=toggleComment($index)>
              See Comments
            </p>
            <p ng-click=toggleAddComment($index)>
              Add Comment
            </p>
          </div>
          <div class="popularity">
            <p ng-click="post.popularity = post.popularity - 1">
              -
            </p>
            <p ng-click='post.popularity = post.popularity + 1'>
              +
            </p>
            <p ng-class=colorClass(post.popularity)>
              {{post.popularity}}
            </p>
          </div>
        </div>
      </div>
      <div class="comments" ng-show='post.showComment'>
        <div ng-repeat= 'comment in post.comments'>
          <h4>{{comment.title}}</h4>
          <p>
            {{comment.author}}
          </p>
          <p>
            {{comment.text}}
          </p>
        </div>
      </div>
  </div>
</div>
</div>
